<p></p><img src='<%= image_path product_image(@product.id) %>'></p>
<b>Products name: <%= @product.title %></b>
<p><b>Product description: </b><%= @product.description %></p>
<p><b>Product price: </b><%= @product.price %></p>
<%= link_to 'Back', root_url %>
