<div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 products-pagination">
        <%= will_paginate @products %>
      </div>
    </div>

    <div class="row">
        <% @products.each do |product| %>

        <div class="col-sm-6 product-item">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3><%= product.title %></h3>
              <div class="img" style="background-image: url('<%= image_path product_image(product.id) %>');"></div>
              <h4>$<%= product.price %></h4>
              <p>
                <%= link_to 'View', products_show_path(id: product.id), :class => 'btn btn-default', remote: true  %>
                <%= button_to 'Add to Cart', line_items_path(product_id: product), :class => 'btn btn-primary',remote: true %>
              </p>
            </div>
          </div>
        </div>

        <% end %>
  
    </div>
    <div class="row" id="showProductOne"></div>
    <div class="row">
      <div class="col-sm-12">
        <%= will_paginate @products %>
      </div>
    </div>
  </div>